---
layout: home
title: "mkiroshdz"
---

<!-- About  -->
<section id="about" class='is-desktop about mb-6 card p-4'>
  <h3 class="title is-2">About</h3>
  <div class="columns">
    <div class="column is-half-desktop is-size-4">
      {% for txt in site.data.about %}
        <p class="mb-3">{{ txt }}</p>
      {% endfor %}
    </div>
    <div class="column is-half-desktop is-hidden-mobile">
      <img src={{ "assets/img/coding.png" | relative_url }} />
    </div>
  </div>
</section>

<!-- experience  -->
<section id="experience" class='experience'>
  <h3 class="title is-2 mb-6">Experience</h3>
  <ul class="m-4 pl-5">
    {% for entry in site.data.experience %}
      <li class="columns">
        <figure class="column is-1 is-hidden-mobile">
          <img src={{ entry.logo | relative_url }} />
        </figure>
        <div class="column is-9">
          <h4 class="title is-4">{{ entry.company }}</h4>
          <p class="subtitle">
            {{ entry.from }}-{{ entry.until }} | 
            {{ entry.position }} |
            {{ entry.location }}
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

<!-- projects  -->
<section id="projects" class='is-desktop projects mb-3'>
  <h3 class="title is-2 mb-6">Projects</h3>

  <div class="glide p-2">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        {% for entry in site.data.projects %}
          <li class="glide__slide">
            <a href={{ entry.url }} target="_blank">
              <div class="p-6">
                <h4 class="has-text-centered title is-3 mb-6">
                  {{ entry.name }}
                </h4>
                <figure class="mb-3">
                  <img src={{ entry.logo | relative_url }} />
                </figure>
                <p class="is-size-5 has-text-centered">
                  {{ entry.description }}
                </p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>   
</section>

<script>
  new Glide('.glide', {
    startAt: 1,
    perView: 3,
    hoverpause: true,
    autoplay: 4000,
    bound: true,
      breakpoints: {
        1000: {
          perView: 1
        }
      }
  }).mount()

</script>